* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: rgb(158, 155, 155);
  font-size: 1.5rem;
}

.container {
  width: min(90%, 50rem);
  margin: 3rem auto;
}

select {
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(158, 155, 155);
  font-weight: 800;
}

button:hover,
select:hover {
  background-color: black;
  color: rgb(158, 155, 155);
}

button {
  border: 2px solid black;
  border-radius: 5px;
  font-weight: 800;
  background-color: rgb(158, 155, 155);
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-top: 2rem;
}

#addElement {
  font-size: 1rem;
  border-radius: 5px;
  font-weight: 800;
  padding: 0.48rem;
  margin-top: 1rem;
}

ul {
  background-color: rgb(211, 208, 208);
  border: 3px solid black;
  border-radius: 5px;
  margin-top: 3rem;
}

.hidden {
  display: none;
}
